{% assign locations = site.locations | where: "ref", page.location %}
{% assign locations_sorted = locations | where: "lang", page.lang %}
{% if page.lang != site.lang.primary %}
  {% for location in locations %}
    {% if location.lang == site.lang.primary %}
      {% assign locations_sorted = locations_sorted | push: location %}
      {% break %}
    {% endif %}
  {% endfor %}
{% endif %}
{% if page.lang != site.lang.secondary %}
  {% for location in locations %}
    {% if location.lang == site.lang.secondary %}
      {% assign locations_sorted = locations_sorted | push: location %}
      {% break %}
    {% endif %}
  {% endfor %}
{% endif %}
{% for location in locations %}
  {% if location.lang != site.lang.secondary and location.lang != site.lang.primary %}
    {% assign locations_sorted = locations_sorted | push: location %}
  {% endif %}
{% endfor %}
{% for location in locations_sorted %}
  {% unless location_title %}
    {% assign location_title = location.title %}
  {% endunless %}
  {% unless location_cover %}
    {% assign location_cover = location.cover %}
  {% endunless %}
  {% unless location_room %}
    {% assign location_room = location.room %}
  {% endunless %}
  {% unless location_address %}
    {% assign location_address = location.address %}
  {% endunless %}
{% endfor %}
